<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-sm-12 ">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim explicabo ab neque, dolorem obcaecati quo animi, facilis quidem ratione illum unde cum iusto omnis. Blanditiis delectus non in libero laudantium eligendi? Hic obcaecati optio placeat quidem molestias inventore sed alias facilis commodi et quod aperiam praesentium pariatur, corporis quae quisquam eos voluptate, laudantium aspernatur! Molestiae libero autem culpa voluptatum vel fugiat aliquam vitae dolor est dolorum. Pariatur ratione cupiditate molestias magnam. Molestias ducimus ad quia soluta esse officiis quos asperiores accusamus numquam sunt, animi libero inventore voluptate cupiditate veritatis. Cum, explicabo voluptates facilis ipsam sunt maxime nesciunt ratione laboriosam consequatur.
                </p>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

    <%- include('../partials/script'); %>
</body>
</html>